@charset "UTF-8";
/* примеры подключения шрифтов 
@include font-face("Kaushan Script", "../fonts/KaushanScript-Regular/KaushanScript-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Regular/Montserrat-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Bold/Montserrat-Bold", bold);
@include font-face("Roboto", "../fonts/Roboto-Regular/Roboto-Regular");
@include font-face("Roboto", "../fonts/Roboto-LightItalic/Roboto-LightItalic", 300, italic);
*/
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #f7f4f1;
  text-transform: uppercase;
  background-color: #070707;
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: top center; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* ====== HEADER ===== */
.main-nav {
  display: flex;
  flex-direction: column; }

.main-logo {
  order: 3;
  margin: 0 auto;
  margin-bottom: 62px; }

.navigation-wrapper {
  min-height: 70px;
  margin-bottom: 63px;
  background-color: #000000; }

.navigation-wrapper .container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.site-nav,
.user-nav {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  display: flex; }

.site-nav a,
.user-nav a {
  color: #f7f4f1;
  display: block;
  padding: 25px 20px; }

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  background-color: #242424; }

.user-nav .user-login {
  position: relative;
  padding-left: 50px; }

.user-nav .user-login::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 70px;
  margin-top: -6px;
  width: 14px;
  height: 14px;
  background-image: url(../img/login-icon.svg);
  background-repeat: no-repeat; }

/* ====== ADVANTAGES ===== */
.advantages-list {
  margin: 0 auto;
  margin-bottom: 65px;
  padding: 0;
  width: 940px;
  list-style: none;
  display: flex;
  justify-content: space-between; }

.advantages-list-item {
  box-sizing: border-box;
  width: 300px;
  padding: 0 10px;
  text-align: center; }

.advantages-list-item h3 {
  position: relative;
  font-size: 30px;
  line-height: 42px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px; }

.advantages-list-item h3::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #f7f4f1;
  transform: rotate(45deg); }

/* ====== NEWS AND GALLERY ===== */
.index-columns {
  color: #000000;
  box-sizing: border-box;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 45px 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f5f2;
  background-image: url(../img/separator.png), url(../img/bg-light.jpg);
  background-position: center center, 0 0;
  background-repeat: no-repeat, repeat; }

.index-columns h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px; }

.news {
  margin: 0;
  padding: 0;
  width: 380px; }

.news-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.news-list-item {
  margin-bottom: 21px; }

.news-list-item:last-child {
  margin-bottom: 28px; }

.news-list-item p {
  margin: 0; }

.news-list time {
  text-transform: lowercase; }

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #f7f4f1;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 34px;
  background-color: #000000;
  border: none; }

.gallery {
  margin: 0;
  padding: 0;
  width: 300px; }

.gallery-container {
  position: relative;
  height: 260px; }

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff; }

.gallery-btn {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0; }

.gallery-btn-back {
  left: 0; }

.gallery-btn-next {
  right: 0; }

/* ====== CONTACTS AND APPOINTMENT ===== */
.contacts {
  padding: 0;
  margin: 0;
  width: 350px; }

.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }

.appointment {
  padding: 0;
  margin: 0;
  width: 300px; }

/* ====== FOOTER ===== */
footer {
  padding-top: 60px;
  padding-bottom: 37px;
  background-origin: #232323;
  background-image: url(../img/bg-dark.jpg); }

footer .container {
  width: 940px;
  margin: 0 auto;
  display: flex; }

.coordinates {
  width: 320px;
  padding: 0;
  margin: 0;
  margin-right: 80px; }

.socials {
  margin: 0;
  padding: 0;
  width: 140px; }

.socials p {
  margin: 0;
  padding: 0; }

.copyright {
  margin-left: auto; }

/* ====== MODAL LOGIN ===== */
.modal {
  display: none; }

/* ====== MODAL MAP ===== */
